<!DOCTYPE html>
<html>
<body style="background-color:powderblue">

  <div class="jumbotron">
    <div class="container">
      <h1 class="task-index" align="center">Welcome to the Task Manager</h1>
    </div>
  </div>
  
  <div align="center" class="container">
    <p><a class="btn btn-primary btn-lg" href="/tasks">Task Index</a>
      <a class="btn btn-primary btn-lg" href="/tasks/new">New Task</a></p>
    </div>

  </body>
</html>
